body{

font-family:Arial;

}

header{

background:#198754;

color:white;

padding:20px;

text-align:center;

}

nav a{

color:white;

margin:10px;

}

.carousel img{

height:700px;

object-fit:cover;

}

main{

padding:30px;

}

img{

width:100%;

max-width:700px;

display:block;

margin:auto;

}

footer{

background:#ddd;

padding:20px;

text-align:center;

}